*{
    text-align: center;
font-family: serif;
}
#size{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    font-weight: 600;
}
ul{
    display: inline;
}
li{
    display: inline;
    padding: 50px;
}
hr{
width: 900px;
height: 0%;
}
p{
    text-transform: capitalize;
}